html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 40px;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @media (max-width: 1440px) {
    font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1440 - 320)));
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 400;
  color: $black; 
  background-color: $white;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


.container {
  max-width: $desktop;
  padding: 0 15px;
  margin: 0 auto;
}

@include mobile {
  .container {
    max-width: $mobile;
  }
}

@include tablet {
  .container {
    max-width: $tablet;
  }
}

@include laptop {
  .container {
    max-width: $laptop;
  }
}

@include desktop {
  .container {
    max-width: $desktop;
  }
}
