/* Main Screen colors */
$firstPartg: #99B9FF;
$secondPartg: #D2E1FF;
$thirdPartg: #ADC8FF;
$orangeOne: #FF6B04;
$orangeTwo: #FFA26A;

/* Form colors */
$bgForm: #F4F4F4;
$input: #D9D9D9;

/* Footer colors */
$footerbgcolor: #202929;
$logoFooterColor: #2A3333;

/* Base colors */
$black: #222222;
$white: #FFF;

/* Screen dimensions */
$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }
  src: url("../fonts/#{ $name }-#{ $weight }.woff2")  format("woff2"),
    url("../fonts/#{ $name }-#{ $weight }.woff")  format("woff"),
}

